@{
    ViewBag.Title = "Index";
}

<h2>Välkommen hit, mään!</h2>
<p>Det är kul att tippa VM.</p>

@using (Html.BeginForm("Index", "Login"))
{
    <button class="btn btn-success btn-lg" type="submit">Logga in</button>
}
    

